@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.container {
    border: 2px solid black;
    border-radius: 8px;
    width: 312px;
    height: 42px;
    border: 2px solid black;
    border-radius: 8px;
    width: 312px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px 0px 12px;
}

.data {
    display: flex;
    gap: 19px;

    & input {
        accent-color: #333;
        width: 18px;
    }
}

.buttons {
    display: flex;
    align-items: center;
    gap: 4px;

    & button {
        background-color: transparent;
        outline: none;
        cursor: pointer;
        border: 1px solid;
        border-radius: 4px;
        width: 30px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .2s;
    }

    & button:hover {
        background-color: #eee;
        transition: .2s;
    }
}