#root {
    font-family: "Ubuntu", sans-serif;
}

html {
    background-color: #EDEDED;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100dvw;
}